<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">
    Local Library
  </a>
  <div class="dropdown">
    <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      {{ user.get_username }}
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="">Profile</a>
      <a class="dropdown-item" href="{% url 'login' %}">Sign out</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        {% block sidebar %}
          <ul class="nav flex-column pt-3">
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
                 href="{% url 'index' %}">
                <i class="fas fa-home"></i>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'books' %}active{% endif %}"
                 href="{% url 'books' %}">
                <i class="fas fa-book"></i>
                All books
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'authors' %}active{% endif %}"
                 href="{% url 'authors' %}">
                <i class="fas fa-user"></i>
                All authors
              </a>
            </li>
          </ul>

          <ul class="nav flex-column pt-3">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'my-borrowed' %}active{% endif %}"
                   href="{% url 'my-borrowed' %}">
                  <i class="fas fa-bookmark"></i>
                  My borrowed
                </a>
              </li>
            {% else %}
              <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
            {% endif %}
          </ul>

          {% if user.is_staff %}
            <ul class="nav flex-column pt-3">
              {% if perms.catalog.can_mark_returned %}
                <li class="nav-item">Staff</li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'all-borrowed' %}active{% endif %}"
                     href="{% url 'all-borrowed' %}">
                    <i class="fas fa-bookmark"></i>
                    All borrowed
                  </a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        {% endblock %}
      </div>
    </nav>

    <main role="main" class="col-sm-10 ml-sm-auto px-4">
      <nav class="pt-4">
        {% block breadcrumbs %}
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">
                <a href="{% url 'index' %}">Home</a>
              </li>
              {% block crumbs %}
              {% endblock %}
            </ol>
          </nav>
        {% endblock %}

        {% block content %}{% endblock %}

        {% block pagination %}
          {% if is_paginated %}
            <nav class="float-right">
              <ul class="pagination">

                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link"
                       href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                      Previous
                    </a>
                  </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                  <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                    <a class="page-link"
                       href="{{ request.path }}?page={{ i }}">
                      {{ i }}
                    </a>
                  </li>
                {% endfor %}

                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link"
                       href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                      Next
                    </a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          {% endif %}
        {% endblock %}
      </nav>
    </main>

  </div>
</div>
</body>
</html>