{% extends 'base_generic.html' %}

{% block crumbs %}
  <li class="breadcrumb-item">
    <a>Author List</a>
  </li>
{% endblock %}

{% block content %}

  {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
          </li>
        {% endfor %}
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}

  <a class="btn btn-primary btn-sm mb-3" href="{% url 'author_create' %}">
    <i class="fas fa-plus"></i>
    Create
  </a>

  {% if author_list %}
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthday</th>
        <th>Death</th>
        <th width="15%">Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for author in author_list %}
        <tr>
          <td>
            <a href="{{ author.get_absolute_url }}">{{ author.first_name }}</a>
          </td>
          <td>{{ author.last_name }}</td>
          <td>{{ author.date_of_birth }}</td>
          <td>{{ author.date_of_death }}</td>
          <td>
            <a href="{% url 'author_update' pk=author.id %}" class="text-success">Edit</a>
            |
            <a href="#" data-id={{ author.id }} class="text-danger" data-toggle="modal" data-target="#modal">Delete</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </ul>
  {% else %}
    <p>There are no authors in the library.</p>
  {% endif %}

  <div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Author</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the author?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
          <button type="button" id="confirm" class="btn btn-primary btn-sm">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <script>
      $(function () {
          let id = null;
          $('a[data-id]').click(function (e) {
              e.preventDefault();
              id = $(this).data('id');
          });
          $('#confirm').click(function () {
              $.ajax({
                  url: `/catalog/author/${id}/delete/`,
                  method: 'POST',
                  beforeSend: (xhr) => {
                      xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                  },
                  success: () => {
                      setTimeout(() => {
                          window.location.reload();
                          $('.alert').alert('close');
                      }, 1000);
                  },
                  error: (e) => {
                      console.log(e)
                  },
                  complete: () => {
                      $('#modal').modal('hide');
                  }
              })
          })
      });

  </script>
{% endblock %}