{% extends 'base_generic.html' %}

{% block crumbs %}
  <li class="breadcrumb-item">
    <a>Borrowed Books</a>
  </li>
{% endblock %}

{% block content %}
  {% if bookinstance_list %}
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Title</th>
        <th>Due Back</th>
      </tr>
      </thead>
      <tbody>
      {% for bookinst in bookinstance_list %}
        <tr>
          <td>
            <a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a>
          </td>
          <td class="{% if bookinst.is_overdue %}text-danger{% endif %}">{{ bookinst.due_back }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no books borrowed.</p>
  {% endif %}
{% endblock content %}